<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column is-one-third has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">{{site.author-name}}</h3>
                    <p class="is-marginless is-italic">> aka. {{site.author-name-id}}</p>
                    <p class="is-uppercase has-text-grey is-size-7 ">{{site.author-about}}</p><br>
                    <p>{{site.author-about-sub}}</p>
                    <div class="container">
                        <!-- <a href="{{site.url}}{{site.baseurl}}/blog"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                        </a>
                        -->
                        <br>
                        <div class = "columns test">
                            <div class = "column">
                                <figure class="image" style="padding-top:1rem; padding-right:4rem; padding-left: 2rem; padding-bottom: 1.5rem;" >
                                    <img class="" style="border:0rem;" src="https://nekox.net/assets/images/credential-logo.svg"
                                     alt="ignition-credential">
                                </figure>

                                <h3 class="is-uppercase has-text-black">Ignition credentialled</h4>
                                <p class="is-size-7">Current Ignition 8.1 Credential.</p>
                                <p class="is-size-7">Earned in-situ at Carlton & United Breweries on obsolence projects, moving away from Microsoft Excel.</p>
                            </div>
                            <div class = "column">

                                <figure class="image" style="padding-top:1rem; padding-right:4rem; padding-left: 2rem; padding-bottom: 1.5rem;" >
                                    <img class="" style="border:0rem;" src="https://nekox.net/assets/images/swinburne-logo.png"
                                     alt="swinburne-shield">
                                </figure>

                                <h3 class="is-uppercase has-text-black">Scholarship Recipient</h4>
                                <p class="is-size-7">Recipient of: Vice Chancellor's Excellence Scholarship, Future Leader's New Colombo Plan Scholarship</p>
                            </div>
                            <div class = "column">
                                
                                <figure class="image" style="padding-top:1rem; padding-right:4rem; padding-left: 2rem; padding-bottom: 1.5rem;" >
                                    <img class="" style="border:0rem;" src="https://nekox.net/assets/images/asahi-logo.png"
                                     alt="asahi-beverages">
                                </figure>

                                <h3 class="is-uppercase has-text-black">Industry Experienced</h4>
                                <p class="is-size-7">Undertaken a 14-month placement at Carlton & United Breweries<br>Interned for 3 months at Caulis Inc., Tokyo, Japan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>      
</section>