<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure class="image has-shadow">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column is-one-third has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless is-classy-left">{{site.author-name}}</h3>
                    <p class="is-uppercase has-text-grey is-size-7 ">> aka. {{site.author-name-id}}<br>{{site.author-about}}</p><br>
                    <p>{{site.author-about-sub}}</p>
                    <div class="container">
                        <br>
                        <div class = "columns">
                            <div class = "column">
                                <figure class="image is-banner" >
                                    <img class="" style="border:0rem;" src="/assets/images/ignition-credential-mono-blacker.png"
                                     alt="ignition-credential">
                                </figure>

                                <h3 class="is-uppercase has-text-black">Ignition credentialled</h4>
                                <p class="is-size-7">Current Ignition 8.1 Credential.</p>
                                <p class="is-size-7">Earned in-situ at Carlton & United Breweries spearheading Ignition development of mathematical modelling in perspective.</p>
                            </div>
                            <div class = "column">

                                <figure class="image is-banner" >
                                    <img class="" style="border:0rem;" src="https://nekox.net/assets/images/swinburne-logo.png"
                                     alt="swinburne-shield">
                                </figure>

                                <h3 class="is-uppercase has-text-black">Scholarship Recipient</h4>
                                <p class="is-size-7">Receipient of the:</p> 
                                <ul class="is-size-7">
                                    <li>- Vice Chancellor's Excellence Scholarship,</li>
                                    <li>- New Colombo Plan Scholarship</li>
                                    <li>- Swinburne SSEE Research Scholarship</li>
                                </ul>
                            </div>
                            <div class = "column">
                                
                                <figure class="image is-banner">
                                    <img class="" style="border:0rem;" src="https://nekox.net/assets/images/asahi-logo.png"
                                     alt="asahi-beverages">
                                </figure>

                                <h3 class="is-uppercase has-text-black">Industry Driven</h4>
                                <p class="is-size-7">1.25 years at Carlton & United Breweries' as an Engineering Placement Student<br>3 Months research internship at Caulis Inc., Tokyo, Japan</p>
                            </div>
                            </div>
                        </div>
                        <br><br><br>
                        <a href="{{site.url}}{{site.baseurl}}/#recommendations"
                        class="button is-rounded is-outlined is-uppercase has-text-weight-normal is-black">Hear what others have to say</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include down-button.html link="#recommendations"%}
</section>