<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">{{site.author-name}}</h3>
                    <p class="subtitle is-marginless"><em>> aka. {{site.author-name-id}}</em></p> <br>
                    <p>{{site.author-about}}</p>
                    <p>{{site.author-about-sub}}</p>
                    <br>
                    <div class="container column is-centered">
                        <a href="{{site.url}}{{site.baseurl}}/blog"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                        </a>
                    </div>
                </div>
            </div>        
</section>