<section class="hero is-fullheight has-text-centered" id="recommendations">
    
    
    <div class="hero-body">
        
        <div class="container">
            <div class="block">
                <h3 class="subtitle is-uppercase">
                Recommendations
                </h3>
            </div>
            <hr>

            <div class="block">&nbsp;</div>
            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img class="is-rounded" src="https://nekox.net/assets/images/sdhillon.jpg" alt="Sukhbir Dhillon">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet
                    has-text-left-fullhd has-text-left-widescreen is-two-thirds">

                        <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">Sukhbir Dhillon</h3>
                        <p class=" is-marginless is-italic">> Engineering Manager, <b>Carlton & United Breweries</b></p> <br>
                        <p class="is-size-7">
                            I have had the distinct pleasure of working with Jimmy from November 2020 until February 2022.
                            Jimmy joined as Trainee Engineer in Carlton & United Breweries' Abbotsford Plant for a period of 15 months.
                            <br>
                            During this time, he has demonstrated an extensive arsenal of skills ranging from technical proficiency to graphic design. 
                            His extensive technical skillset and visual communication skills led him to be heavily involved in spearing the deployment of Ignition at the Abbotsford site, streamlining the Trainee position, and playing a critical role in enabling a smooth IT transition into Asahi Beverages. Jimmy performed exceptionally well & did a lot of justice to the role of Trainee Engineer. He redeveloped & enhanced many of our internal tools. To say that he has automated his position away is not an understatement. 
                            In addition, he has been incredibly resourceful on-site gaining his Ignition Credential and working with our Control & Automation team to develop an Ignition-based predictive model for CO2. His skills have seen his work shared to our sister breweries around Australia.
                            <br>
                            Jimmy will be missed at Abbotsford, and he comes with high recommendations from myself.
                            </p>
                        <br>
                    </div>
                </div>    
            </div>
            <div class="block">
                <div class="columns">
                    <div class="column has-text-right-desktop has-text-right-tablet
                    has-text-right-fullhd has-text-right-widescreen"> &nbsp;
                    </div>
                    <div class="column has-text-right-desktop has-text-right-tablet
                    has-text-right-fullhd has-text-right-widescreen is-two-thirds">
                        <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">Campbell Brown</h3>
                        <p class=" is-marginless is-italic">> Utilities Manager, <b>Carlton & United Breweries</b></p> <br>
                        <p class="is-size-7">
                            Jimmy joined the Engineering team at CUB as a Trainee Engineer and in his short time with us he has made an impressive impact both in terms of what he delivered and how it delivered it. He quickly picked up the role and always delivered to a high standard of quality. Jimmy was proactive in identifying opportunities for continuous improvement and he redeveloped activities within the position to significantly reduced the time spent on administrative work, freeing himself and future trainees ahead of him up for more significant projects. 
                            <br>
                            During his time with us Jimmy was involved in a number of projects including process improvements to drive efficiencies and heavily involved in the transition of CUB IT systems to Asahi beverage IT systems. A flagship project he lead and developed was the programming of our CO2 predication and monitoring tools in Ignition. He showed persistence, strong stakeholder engagement and problem solving to deliver an outstanding quality of work. His strong documentation skills and approach to this project impressed our senior technical leaders. The tools he has created will continue to be a valued asset in further development of the system. 
                            <br>
                            Jimmy brings a unique combination of intellectual capacity, creativity and communication skills that would make him an asset to any future organisation. You are always welcome back on the team Jimmy.
                        <br>
                    </div>
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img class="is-rounded" src="{{site.url}}{{site.baseurl}}/assets/images/cbrown.jpg" alt="Campbell Brown">
                        </figure>
                    </div>
                </div>    
            </div>
            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img class="is-rounded" src="https://nekox.net/assets/images/jlau.jpg" alt="John Lau">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet
                    has-text-left-fullhd has-text-left-widescreen is-two-thirds">
                        <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">John Lau</h3>
                        <p class=" is-marginless is-italic">> VP of Engineering (Data Analysis and Visualisation), <b>Caulis Inc.</b></p> <br>
                        <p class="is-size-7">Jimmy spent about 3 months time doing internship with us. In that period of time, he did research and development on passive network fingerprinting as a defense mechanism for identity/location spoofing. He is highly intelligent, independent, curious, and not afraid to dive into the nitty-gritty details of engineering problems. He managed to complete a working minimum viable product (MVP) for a passive network fingerprinting system, combining multiple technologies. He has excellent communication skills as demonstrated in how he wrote clear documentation for his source code and how he did his project presentation to the company.</p>
                        <br>
                    </div>
                </div>    
            </div>
            <div>
                <br><br><br>
                <a href="{{site.url}}{{site.baseurl}}/#projects"
                class="button is-rounded is-outlined is-uppercase has-text-weight-normal is-black">See the results</a>
                </a>
            </div>    
        </div>
    </div>
    {% include down-button.html link="#projects" %}
</section>
