<section class="hero is-fullheight has-text-centered" id="recommendations">
    
    
    <div class="hero-body">
        
        <div class="container">
            <div class="block">
                <h3 class="subtitle is-uppercase">
                Recommendations
                </h3>
            </div>
            <hr>

            <div class="block">&nbsp;</div>
            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <figure class="image">
                            <img class="is-rounded" src="https://nekox.net/assets/images/jlau.jpg" alt="John Lau">
                        </figure>
                    </div>
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">John Lau</h3>
                        <p class=" is-marginless is-italic">> VP of Engineering (Data Analysis and Visualisation), <b>Caulis Inc.</b></p> <br>
                        <p>Jimmy spent about 3 months time doing internship with us. In that period of time, he did research and development on passive network fingerprinting as a defense mechanism for identity/location spoofing. He is highly intelligent, independent, curious, and not afraid to dive into the nitty-gritty details of engineering problems. He managed to complete a working minimum viable product (MVP) for a passive network fingerprinting system, combining multiple technologies. He has excellent communication skills as demonstrated in how he wrote clear documentation for his source code and how he did his project presentation to the company.</p>
                        <br>
                    </div>
                </div>    
            </div>
            <div>
                <br><br><br>
                <a href="{{site.url}}{{site.baseurl}}/#projects"
                class="button is-rounded is-outlined is-uppercase has-text-weight-normal is-black">See the results</a>
                </a>
            </div>    
        </div>
    </div>
    {% include down-button.html link="#projects" %}
</section>
