<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 is-uppercase has-text-weight-bold animate__animated animate__delay-1s animate__fadeInDown">
        {{site.title}}
      </h1>
      <h3 class="subtitle is-uppercase has-text-weight-medium is-marginless animate__animated animate__delay-1s animate__fadeInUp">
        {{site.description}}
      </h3>
      <br>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-rounded is-outlined is-uppercase has-text-weight-normal is-outline is-black animate__animated animate__delay-5s animate__fadeInUp">Read More</a>
      </a>
    </div>
  </div>
  {% include down-button.html link="#about" delay=true %}
</section>